// ANIMATE HEADER
// RED ORNAMENT
@-webkit-keyframes rotateOrnament {
	0% { @include prefix(transform, rotate(0deg)); }
	5% { @include prefix(transform, rotate(1deg)); }
	25% { @include prefix(transform, rotate(5deg)); }
	50% { @include prefix(transform, rotate(-5deg)); }
	75% { @include prefix(transform, rotate(1deg)); }
	95% { @include prefix(transform, rotate(-1deg)); }
	100% { @include prefix(transform, rotate(0deg)); }
}

@-moz-keyframes rotateOrnament {
	0% { @include prefix(transform, rotate(0deg)); }
	5% { @include prefix(transform, rotate(1deg)); }
	25% { @include prefix(transform, rotate(5deg)); }
	50% { @include prefix(transform, rotate(-5deg)); }
	75% { @include prefix(transform, rotate(1deg)); }
	95% { @include prefix(transform, rotate(-1deg)); }
	100% { @include prefix(transform, rotate(0deg)); }
}
@-o-keyframes rotateOrnament {
	0% { @include prefix(transform, rotate(0deg)); }
	5% { @include prefix(transform, rotate(1deg)); }
	25% { @include prefix(transform, rotate(5deg)); }
	50% { @include prefix(transform, rotate(-5deg)); }
	75% { @include prefix(transform, rotate(1deg)); }
	95% { @include prefix(transform, rotate(-1deg)); }
	100% { @include prefix(transform, rotate(0deg)); }
}
@keyframes rotateOrnament {
	0% { @include prefix(transform, rotate(0deg)); }
	5% { @include prefix(transform, rotate(1deg)); }
	25% { @include prefix(transform, rotate(5deg)); }
	50% { @include prefix(transform, rotate(-5deg)); }
	75% { @include prefix(transform, rotate(1deg)); }
	95% { @include prefix(transform, rotate(-1deg)); }
	100% { @include prefix(transform, rotate(0deg)); }
}

#red-ornament {

	@include prefix(transform-origin, top);

	-webkit-animation: rotateOrnament 3s infinite; /* Safari 4+ */
	-moz-animation:    rotateOrnament 3s infinite; /* Fx 1+ */
	-o-animation:      rotateOrnament 3s infinite; /* Opera 12+ */
	animation:         rotateOrnament 3s infinite; /* IE 10+, Fx 29+ */

}


// RED ORNAMENT
@-webkit-keyframes rotateRedOrnament {
	0% { @include prefix(transform, rotate(0deg)); }
	5% { @include prefix(transform, rotate(.5deg)); }
	25% { @include prefix(transform, rotate(2.5deg)); }
	50% { @include prefix(transform, rotate(-2.5deg)); }
	75% { @include prefix(transform, rotate(.5deg)); }
	95% { @include prefix(transform, rotate(-.5deg)); }
	100% { @include prefix(transform, rotate(0deg)); }
}

@-moz-keyframes rotateRedOrnament {
	0% { @include prefix(transform, rotate(0deg)); }
	5% { @include prefix(transform, rotate(.5deg)); }
	25% { @include prefix(transform, rotate(2.5deg)); }
	50% { @include prefix(transform, rotate(-2.5deg)); }
	75% { @include prefix(transform, rotate(.5deg)); }
	95% { @include prefix(transform, rotate(-.5deg)); }
	100% { @include prefix(transform, rotate(0deg)); }
}
@-o-keyframes rotateRedOrnament {
	0% { @include prefix(transform, rotate(0deg)); }
	5% { @include prefix(transform, rotate(.5deg)); }
	25% { @include prefix(transform, rotate(2.5deg)); }
	50% { @include prefix(transform, rotate(-2.5deg)); }
	75% { @include prefix(transform, rotate(.5deg)); }
	95% { @include prefix(transform, rotate(-.5deg)); }
	100% { @include prefix(transform, rotate(0deg)); }
}
@keyframes rotateRedOrnament {
	0% { @include prefix(transform, rotate(0deg)); }
	5% { @include prefix(transform, rotate(.5deg)); }
	25% { @include prefix(transform, rotate(2.5deg)); }
	50% { @include prefix(transform, rotate(-2.5deg)); }
	75% { @include prefix(transform, rotate(.5deg)); }
	95% { @include prefix(transform, rotate(-.5deg)); }
	100% { @include prefix(transform, rotate(0deg)); }
}

#green-ornament {

	@include prefix(transform-origin, top);

	-webkit-animation: rotateRedOrnament 5s infinite; /* Safari 4+ */
	-moz-animation:    rotateRedOrnament 5s infinite; /* Fx 1+ */
	-o-animation:      rotateRedOrnament 5s infinite; /* Opera 12+ */
	animation:         rotateRedOrnament 5s infinite; /* IE 10+, Fx 29+ */

}