// NEW HEADER SVGS
.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.demo {
    background-image: url("../../images/header/svgs/demo.png");
    width: 90%;
    max-width: 563px;
    padding-bottom: 31.3%;
    position: absolute;
    top: 14%;
    left: 0;
    right: 0;
    margin: auto;   
    opacity: 0;

    @media(min-width: 584px) { padding-bottom: 182.4px; }
}

.svg-holder {
    width:100%;
    max-width: 640px;
    // padding-bottom: 42.273535%;
    
    position:absolute;
    top:13%; 
    left:0; right:0;
    margin:0 auto;
}

.happy-all {
    background-image:url('../../images/header/svgs/happy-all.png');
    width: 96%;
    padding-bottom: 32.5%;
    position: absolute;
    top: 0;
    left: 1%;
    right: 0;
    margin: auto;
}

.svg .happy-all {
    background-image:url('../../images/header/svgs/happy-all.svg');
}

.new-header {
    background-image:url('../../images/new-header/header.png');
    width: 96%;
    padding-bottom: 58.5%;
    position: absolute;
    top: 0;
    left: 1%;
    right: 0;
    margin: auto;
}

.svg .new-header {
    background-image:url('../../images/new-header/header.svg');
}


.snow-container { padding-bottom: 90%; }
.just-logos { bottom:1%; top:auto; }
@media (min-width: 640px) {
    .snow-container { padding-bottom: 600px; }
    .just-logos { bottom:1%; top:auto; }
}