// NEW HEADER SVGS
.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.demo {
    background-image: url("../../images/header/svgs/demo.png");
    width: 90%;
    max-width: 563px;
    padding-bottom: 31.3%;
    position: absolute;
    top: 14%;
    left: 0;
    right: 0;
    margin: auto;   
    opacity: 0;

    @media(min-width: 584px) { padding-bottom: 182.4px; }
}

.svg-holder {
    width:100%;
    max-width: 640px;
    position:absolute;
    // top:13%; 
    top:2%; 
    left:0; right:0;
    margin:0 auto;
}

// .happy-all {
//     background-image:url('../../images/header/svgs/happy-all.png');
//     width: 96%;
//     padding-bottom: 32.5%;
//     position: absolute;
//     top: 0;
//     left: 1%;
//     right: 0;
//     margin: auto;
// }

// .svg .happy-all { background-image:url('../../images/header/svgs/happy-all.svg'); }

.new-header {
    background-image:url('../../images/new-header/header.png');
    width: 100%;
    padding-bottom: 61.5%;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    margin: auto;
}

.svg .new-header { background-image:url('../../images/new-header/header.svg'); }


.snow-container { 
    // padding-bottom: 90%; 
    padding-bottom:65.5%; 
}
.just-logos { 
    display: none;
    bottom:1%; top:auto; 
}

@media (min-width: 640px) {
    .snow-container { 
        // padding-bottom: 600px; 
        padding-bottom: 418px; 
    }
    .just-logos { bottom:1%; top:auto; }
}

// DIRECTIONS ARROW
.directions {
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top:17%; left:0; right:0;
        margin:auto;
        width: 80%; max-width: 490px;
        height: 2px;
        background-color:#d84f28;

        @media(min-width: 481px) {
            height: 3px;
        }
    }
}

.cta span {
    display: inline-block;
    margin: 0 auto;
    clear: both;
    background-color: #fff;
    position: relative;
    z-index: 1;

    &:first-of-type {
        padding:0 1em;
    }
}