.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

body {
    /* TEMP BG IMAGE FOR DESIGNING */
    background-repeat: no-repeat;
    background-size: contain;
    background-position:50% 0;
}
/*           body.page-home {background-image:url('../../images/pages/page-1.jpg');}
body.page-2 {background-image:url('../../images/pages/page-2.jpg');}
body.page-3 {background-image:url('../../images/pages/page-2.jpg');}
body.page-4 {background-image:url('../../images/pages/page-2.jpg');}
body.page-video {background-image:url('../../images/pages/page-3.jpg');}
body.page-tshirt {background-image:url('../../images/pages/page-4.jpg');}
*/
body { padding-top:0; }

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    width:100%;
}

.header-container {
    position: relative;
    width:100%;
    text-align: center;
}

.snow {
    background-image:url('../../images/header/snow.jpg');                
    padding-bottom: 63.75%;
    background-size: contain;
    background-position:0 0;
    background-repeat:repeat-x;
}

.happy-holidays {
    background-image:url('../../images/header/happy-dog-cat.png');
    padding-bottom: 63.75%;
    background-size: contain;
    margin:0 auto;
    padding-bottom: 53.75%;
    width: 89.21875%;
    max-width: 571px;

    position: absolute;
    top: 1px; left: -5px; right: 0;
}

.just-logos {
    background-image:url('../../images/header/happy-logos.png');
    width:86.25%;
    max-width: 552px;
    padding-bottom: 18.125%;
    margin: auto;
    position: absolute;
    top: 65.7%; left: -7px; right: 0;
}

@media(min-width: 640px) {
    .snow { padding-bottom:408px; }
    .happy-holidays { 
        padding-bottom:195px;
        top:76px;
    }
    .just-logos { 
        padding-bottom: 116px;
        top: 268px; left: -13px;
    }
}

//MAIN NAV
ul.nav.nav-pills {
    box-sizing: border-box;

    li {
        box-sizing: border-box;
        float:left;

        a {
            box-sizing: border-box;
            cursor: pointer;
            display: block;

            height: 70px;
            width: 70px;

            position: relative;
            text-align:center;
            text-decoration: none;
        }
    }
}

ul.nav-pills {
    counter-reset: nav-counter;

    li { counter-increment: nav-counter; }

    li a:before {
        content: counter(nav-counter);
        display: block;
        width:2.75em;
        border-radius: 50%;
        background-color:$lightblue;
        font-family: Georgia, serif;
        color:white;
        font-style: italic;
        margin:0 auto;
        text-align: center;
        
        position: absolute;
        // top: -.5em;
        left: 0;
        right: 0;
        bottom:0;
        z-index: 1;

        line-height: 1.1em;
        font-size: 1.8em;
        width: 1.6em; height: 1.6em;
        border:2px solid #fff;

        @media(min-width: 640px) { 
            border:3px solid #fff;
            font-size: 2.4em; line-height: 1.3em;
            width: 1.6em; height: 1.6em;
        }
    }
}   