// NEW FORMS
.gift-code-form {
    text-align: center;

    input[type="submit"]{
        display: block;
        padding:0 2em;
        margin:.5em auto;
    }
    
    input[type="text"]{
        text-align: center;
        padding-left:1em;
        color:$blue;
        letter-spacing: 1em;
        -webkit-text-security: disc;
        text-security: disc;

        max-width: 360px;
        margin:0 auto;
    }
}

// STYLE PLACE HOLDER TEXT FOR INPUTS
::-webkit-input-placeholder { color: #b2b3b4; letter-spacing: normal; text-align: left; }
:-moz-placeholder{ color: #b2b3b4; letter-spacing: normal; text-align: left; }
::-moz-placeholder{ color: #b2b3b4; letter-spacing: normal; text-align: left; }
:-ms-input-placeholder{ color: #b2b3b4; letter-spacing: normal; text-align: left; }