// THUMBS
.answer-list {
	li a {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	li[data-selection-id="vacation"] a { background-image:url('../../images/thumbs/01_On-the-Plane.jpg'); }
	li[data-selection-id="car"] a { background-image:url('../../images/thumbs/02_On-the-Road.jpg'); }
	// li[data-selection-id="sweater"] a { background-image:url('../../images/thumbs/03_Cooking.jpg'); }
	// li[data-selection-id="iphone"] a { background-image:url('../../images/thumbs/04_Shopping-for-Dinner.jpg'); }
	li[data-selection-id="party"] a { background-image:url('../../images/thumbs/13_Party.jpg'); }
	li[data-selection-id="times_square"] a { background-image:url('../../images/thumbs/15_Times-Sq.jpg'); }
	li[data-selection-id="dick_clark"] a { background-image:url('../../images/thumbs/16_TV-Countdown.jpg'); }
	// li[data-selection-id="snuggles"] a { background-image:url('../../images/thumbs/13_Party.jpg'); }
	li[data-selection-id="paradise"] a { background-image:url('../../images/thumbs/05_Sunbathing.jpg'); }
	li[data-selection-id="slopes"] a { background-image:url('../../images/thumbs/06_Snowboarding.jpg'); }

}