// TSHIRT FORM
.form-txt {
    color:$red;
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    line-height: 1em;
    margin:2em auto 1em;
    font-size: 1.2em;

    @media(min-width: 481px) { 
        margin: 2.4em auto 1.2em;
        font-size: 1.8em;
    }

    &:first-of-type {
        margin:1em auto .5em;
        @media(min-width: 481px) { 
            margin: 1.2em auto .67em;
        }
    }
}

label.form-txt { 
	font-weight: normal; 
	color:$darkblue;
    margin:.75em auto .25em;
    font-size: 1.2em;

    @media(min-width: 481px) { 
        margin: .67em auto .25em; 
        font-size: 1.8em;
    }

    &:first-of-type {
        margin:.75em auto .25em;
        @media(min-width: 481px) { 
            margin: .67em auto .25em;
        }
    }
}

.name {
	font-family: "proxima-nova-alt-ext-cond",sans-serif;
	color:$darkblue;
	text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    font-size:1.8em; 
    line-height: 1em;
    letter-spacing: .05em;
    margin-bottom: .4em;

    @media(min-width: 460px) { font-size: 2.6em; }
    @media(min-width: 640px) { font-size: 4.3em; }
}

// SIZE
.form-btn {
	font-family: "proxima-nova-alt-ext-cond",sans-serif;
	text-transform: uppercase;
	background-color:$btn-grey;
	color:#ffffff;
	text-shadow: 3px 3px 0px $btn-shadow;
	font-size:1.4em; 
    line-height: 1.8em;
    padding:0 .7em;
    border:1px solid $btn-border;
    letter-spacing: .03em;

    @media(min-width: 460px) { 
    	font-size: 2em; 
    	line-height: 1.6em;
    }
    @media(min-width: 640px) { font-size: 3.1em; }
}


// HIDE RADIO BUTTONS TO STYLES LABELS
input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.tshirt-form { 
	text-align: center; 
	input[type=radio] + label {
		cursor: pointer;
		margin:0 .075em;
		@include prefix(transition, all 200ms);
	}
}

#tshirt-form > div.tshirt-color-holder.clearfix > label {
	cursor: pointer;
	margin:0 .075em;
	@include prefix(transition, all 200ms);
}

.tshirt-size-holder {
	display: inline-block;

	input[type=radio] + label {
		&:hover { background-color: $darkblue; }
	}

	input[type=radio]:checked + label {
		background-color: $btn-blue;
		text-shadow: 3px 3px 0px $btn-shadow-active;
	}
}

// COLOR 
.color-1,
.color-2 {
	padding: 0 1.3em;
	color: transparent;
	text-shadow:none;

	@include prefix(transition, all 200ms);
	&:hover { border-color:$btn-blue; }
}

.tshirt-color-holder {
	input[type=radio]:checked + label {
		border-color:$darkblue;
		border-width:2px;
	}
}

.color-1 { background-color: $tshirt-color-1; }
.color-2 { background-color: $tshirt-color-2; }

.tshirt-color-holder,
.txt-holder {
	width:90%;
	max-width: 560px;
	margin: 0 auto;
}

// ADDRESS, CITY, STATE, ZIP
.txt-holder {

	label {
		clear: both;
		display: block;
		text-transform: capitalize;
	}

	input[type=text] {
		width: 100%;
		margin:0 auto;
		border-radius:6px;
		border:1px solid $submitgrey;
        padding-left:.5em;
        font-weight: normal;
        font-size: 1em; line-height: 3em;
        color: #b2b3b4;

        // -moz-box-shadow:    inset 0 1px 2px rgba(0,0,0,0.25);
        // -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
        // box-shadow:         inset 0 1px 2px rgba(0,0,0,0.25);

        @include prefix( box-shadow, inset 0 1px 2px rgba(0,0,0,0.25) );

		@media(min-width: 481px) { font-size: 1.5em; }
	}

	.state-zip-holder {
		.zip-holder,
		.state-holder {
			width:50%;
			float: left;
		}

		.zip-holder {
			.zip,
			input[type=text] {
				width: 90%;
				float:right;
			}
		}

		.state-holder {

			.form-txt,
			.state {
				width:90%;
				float:left;
			}
		}

		select.state {
            color: #b2b3b4;
            background-color: transparent;
			-webkit-appearance: none;  /*Removes default chrome and safari style*/
			-moz-appearance: none; /* Removes Default Firefox style*/
			appearance: none;
			padding:1px 1px 1px .5em;
			border:1px solid $submitgrey;
			border-radius:6px;
			font-size: 1.5em;
			line-height: 1.5em;

            @include prefix( box-shadow, inset 0 1px 2px rgba(0,0,0,0.25) );

			@media(min-width: 481px) {
				font-size: 1.5em;
				line-height: 3em;
			}		
		}
	}
}

input[type=submit] {
	font-weight: 600;
	background-color:$submitblue;
}


input[type=submit] { 
	margin:1em auto;
	padding:0 2em;
	@include prefix(transition, all 200ms);

	&:hover {
		background-color: $darkblue;
	}
}