// TSHIRT PAGE
.page-tshirt {
	.path-section { padding:0; }

	ul.tshirt-slides li a { 
		background-color:#ddd9d0; 
		padding-bottom: 68.25%;
	}
}

// TSHIRT SLIDER
.slider-nav-arrows {
	top: 44%;
	.next-btn,
	.prev-btn {
		background-color: #f2f0f2;
		a {	
			color:transparent;
			background-color: #f2f0f2;
			background-image:url('../../images/ui/blue-arrow.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50% 50%;
			width:22px; height: 34px;
		}
	}

	.prev-btn { 
		padding:13px 18px 13px 3px; 
		border-top-right-radius:50%;
		border-bottom-right-radius:50%;
	}

	.next-btn { 
		padding:13px 3px 13px 18px; 
		border-top-left-radius:50%;
		border-bottom-left-radius:50%;
	}

	.prev-btn a {
		@include prefix(transform, rotate(180deg));
	}
}

.svg {
	.slider-nav-arrows {
		.next-btn,
		.prev-btn {
			a {
				background-image:url('../../images/ui/blue-arrow.svg'); 
				background-repeat: no-repeat;
				background-size: contain;
				background-position: 50% 50%;
			}
		}
	}	
}

// NAV DOTS
.slider-nav-dots-holder {
	text-align: center;
}
.slider-nav-dots {
	display: inline-block;
}

.slider-nav-dot {
	display: inline-block;
	border-radius: 50%;
	background-color:$dotgrey;
	height: 1em; width: 1em;
	margin: 0 .25em;

	@media(min-width: 481px) {
		height: 2em; width: 2em;
		margin: 0 .5em;
	}
}

.slider-nav-dot.active{
	background-color:$dotblue;
}